.Fish-List{
    border: solid black 1px;
    margin: 250px auto;
    padding: 5px;
    background-color: rgb(0, 0, 151);
}

.Fish-List td{
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    background-color: blue;
}

.Fish-Icon{
    width: 20px;
    padding: 0px;
}

.Fish-Infos p{
    width: 200px;
    margin: 20px 10px;
}

.Fish-Notes p{
    width: 400px;
    margin: 20px 10px;
}

.Fish-Icon img{
    width: 100px;
    height: 100px;
}